<div *ngIf="toast" class="toast-container" [ngClass]="'toast-' + toast.type">
  <div class="toast-content">
    <span class="toast-icon">
      <ng-container [ngSwitch]="toast.type">
        <span *ngSwitchCase="'success'">✓</span>
        <span *ngSwitchCase="'error'">✕</span>
        <span *ngSwitchCase="'warning'">⚠</span>
        <span *ngSwitchCase="'info'">ℹ</span>
      </ng-container>
    </span>
    <span class="toast-message">{{ toast.message }}</span>
    <button class="toast-close" (click)="close()">×</button>
  </div>
</div>